{% assign first_product = collections['mike-wrobel-men-tshirts'].products.first %}

<ul id="" class="side-nav dynamic-product-tshirt">
  <div
    id="dynamicProductTshirt"
    class="tshirt product-drawer-container container">
    <div class="row">
      <div class="col s12 product-drawer-image tshirt-image">
        <img class="lazy" src="" alt="" data-original="" />
      </div>

      <div class="col s12 tshirt-thumbs">
        <ul class="tshirt-thumbs-ul">
          <li></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center product-drawer-summary">
        <div class="product-drawer-summary-header">
          <p class="product-drawer-summary-header-name"></p>
          <p class="product-drawer-summary-header-price"></p>
        </div>

        {% include "clothing-add-to-cart-form" with product: first_product %}

        <div class="man-tshirt-description" style="display: none;">
          <div class="product-drawer-summary-description">
            <p>
              <strong>Anvil</strong><br>
              980 Lightweight Fashion Short Sleeve T-Shirt with TearAway™ Label
            </p>

            <p>
              - 100% ring-spun lightweight cotton<br>
              - Pre-shrunk<br>
              - Tubular construction<br>
              - Shoulder-to-shoulder tape<br>
              - Seamless collar<br>
              - Double-needle sleeve and bottom hem<br>
            </p>

            <p>
              This is a classic tee that has a light feel. Made of 100% ring-spun cotton (except for heather colors, which contain 10% polyester).
              <br><br>
              Please allow 2~6 weeks for delivery depending on your country
            </p>
          </div>

          <table class="centered bordered" style="margin-bottom: 50px;">
            <thead>
              <tr>
                <th></th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Length (inches)</th>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
              </tr>
              <tr>
                <th>Width (inches)</th>
                <td>18</td>
                <td>20</td>
                <td>22</td>
                <td>24</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="woman-tshirt-description" style="display: none;">
          <div class="product-drawer-summary-description">
            <p>
              <strong>Anvil</strong><br>
              880 Ladies Ringspun Fashion Fit T-Shirt with TearAway™ Label
            </p>

            <p>
              - 4.5 oz., 100% combed ringspun cotton, 30 singles<br>
              - Heather Grey is 90/10 cotton/polyester<br>
              - Classic semi-contoured silhouette with side seam<br>
              - Shoulder-to-shoulder taping<br>
              - Seamed collarette<br>
              - Double-needle stitched sleeves and bottom hem<br>
              - Tear away label<br>
            </p>

            <p>
              This is a classic tee that has a light feel. Made of 100% ring-spun cotton (except for heather colors, which contain 10% polyester).
              <br><br>
              <strong>
                ** Please allow 2~6 weeks for delivery depending on your country **
              </strong>
            </p>
          </div>

          <table class="centered bordered woman-sizes-table">
            <thead>
              <tr>
                <th></th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Width (inches)</th>
                <td>17 ¼</td>
                <td>19 ¼</td>
                <td>21 ¼</td>
                <td>23 ¼</td>
              </tr>
              <tr>
                <th>Height (inches)</th>
                <td>25 ½</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
              </tr>
            </tbody>
          </table>
        </div>

        <a
          id="product-drawer-close-{{ product.id }}"
          class="mobile-cart-close hide-on-med-and-up">
          {% include 'mobile-close-button-icon' %}
        </a>
      </div>
    </div>
  </div>
</ul>
