<ul id="" class="side-nav dynamic-product-art-print">
  <div
    id="dynamicProductArtPrint"
    class="art-prints product-drawer-container container">
    <div class="row">
      <div class="col s12 product-drawer-image moshikun-cards-image moshikun">
        <img class="moshikun-image-preview lazy" src="" alt=""/>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center product-drawer-summary">
        <div class="product-drawer-summary-header">
          <p class="product-drawer-summary-header-name"></p>
          <p class="product-drawer-summary-header-price"></p>
        </div>

        <a
          id="addToCart"
          data-product=""
          class="product-drawer-summary-form-submit">add to cart</a>

        {% include "product-drawer-add-to-cart-feedbacks" %}

        <div class="product-drawer-summary-description">
          <strong>Details :</strong><br>
          - These 7.5 x 7.5 cm mini print cards are high quality printed <br> and come protected in a crystal clear bag packaging. <br>
          - Collect them all ( Pokemoooooooon!!!), or just grab your favorite <br> characters from movies, tv shows, video games...
          <br><br>
          <strong>
            ** Please allow 2~6 weeks for delivery depending on your country **
          </strong>
        </div>

        <a id="product-drawer-close-" class="mobile-cart-close hide-on-med-and-up">
          {% include 'mobile-close-button-icon' %}
        </a>
      </div>
    </div>
  </div>
</ul>
