<div class="row home-grid-category">
  <div id="artPrints" class="col s12 m6 l6 home-grid-category-item center">
    <a href="/collections/mike-wrobel-art-prints" rel="next" title="Art Prints Collection">Art Prints</a>
  </div>
  <div id="shopMen" class="col s12 m6 l6 home-grid-category-item center">
    <a href="/collections/mike-wrobel-men-tshirts" rel="next" title="Men T-Shirts Collection">Men Tees</a>
  </div>
  <div id="shopWomen" class="col s12 m6 l6 home-grid-category-item center">
    <a href="/collections/mike-wrobel-women-tshirts" rel="next" title="Women T-Shirts Collection">
      Women Tees
    </a>
  </div>
  <div id="goodies" class="col s12 m6 l6 home-grid-category-item center">
    <a href="/collections/mike-wrobel-goodies" rel="next" title="Goodies Collection">
      Goodies
    </a>
  </div>
  <div id="got" class="col s12 m6 l6 home-grid-category-item center">
    <a href="/collections/mike-wrobel-8090s-game-of-thrones-era-characters" rel="next" title="80s/90s Game of Thrones Collection">
      80/90s Thrones
    </a>
  </div>
  <div id="cards" class="col s12 m6 l6 home-grid-category-item center">
    <a href="/collections/mike-wrobel-moshi-kun" rel="next" title="Moshikun Collection">
      Moshikun
    </a>
  </div>
  <div id="limited" class="col s12 m6 l6 home-grid-category-item center">
    <a href="/collections/mike-wrobel-limited" rel="next" title="Limited Art Prints Collection">
      Limited Art Prints
    </a>
  </div>
</div>
