<style media="screen">
  .drag-target {
    z-index: 0 !important;
  }
</style>

<a href="#"
   data-activates="mobile-menu"
   class="mobile-nav-btn menu-button-collapse hide-on-med-and-up">
  <svg viewBox="0 0 24 24">
    <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
  </svg>
</a>

{% comment %}
{% if template contains 'collection' and collection.handle %}
  {% if collection.url %}
    <a href="{{ collection.url }}"
       class="mobile-nav-btn menu-button-collapse hide-on-med-and-up">
      <svg viewBox="0 0 29 29">
        <path d="M26.025 14.496l-14.286-.001 6.366-6.366L15.979 6 5.975 16.003 15.971 26l2.129-2.129-6.367-6.366h14.29z"></path>
      </svg>
	</a>
  {% endif %}
{% else %}
  <a href="#"
     data-activates="mobile-menu"
     class="mobile-nav-btn menu-button-collapse hide-on-med-and-up">
    <svg viewBox="0 0 24 24">
      <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </a>
{% endif %}
{% endcomment %}

<a
  id="cart-mobile-button-collapse"
  href="#"
  class="mobile-nav-btn cart-button-collapse hide-on-med-and-up"
  data-activates="cart">
  <img class="left mobile-menu-icon lazy"
    src="{{ 'mobile-nav-cart.png' | file_img_url: '41x41', scale: 3 | split: '?' | first }}" >
  <div data-cart-render="item_count" class="mobile-nav-btn-item-count"></div>
</a>

<ul class="side-nav mobile-menu-list" id="mobile-menu" style="background-color: #000000;">
  <li class="mobile-menu-list-item" style="margin-top: 20%;">
    <a class="mobile-menu-list-item-link" href="/" rel="next" title="Home Page" style="color: #FFFFFF !important;">Home</a>
  </li>

  <li class="mobile-menu-list-item">
    <a class="mobile-menu-list-item-link" href="/collections/mike-wrobel-art-prints" rel="next" title="Art Prints Collection" style="color: #FFFFFF !important;">
      Art Prints
    </a>
  </li>

  <li class="mobile-menu-list-item">
    <a class="mobile-menu-list-item-link" href="/collections/mike-wrobel-men-tshirts" rel="next" title="Men Tees Collection" style="color: #FFFFFF !important;">Men Tees</a>
    </a>
  </li>

  <li class="mobile-menu-list-item">
    <a class="mobile-menu-list-item-link" href="/collections/mike-wrobel-women-tshirts" rel="next" title="Women Tees Collection" style="color: #FFFFFF !important;">Women Tees</a>
    </a>
  </li>

  <li class="mobile-menu-list-item">
    <a class="mobile-menu-list-item-link" href="/collections/mike-wrobel-8090s-game-of-thrones-era-characters" rel="next" title="80/90s Thrones Collection" style="color: #FFFFFF !important;">
      90s Thrones
    </a>
  </li>

  <li class="mobile-menu-list-item">
    <a class="mobile-menu-list-item-link" href="/collections/mike-wrobel-limited" rel="next" title="Limited Collection" style="color: #FFFFFF !important;">
      Limited
    </a>
  </li>

  <li class="mobile-menu-list-item">
    <a class="mobile-menu-list-item-link" href="/collections/mike-wrobel-goodies" rel="next" title="Goodies Collection" style="color: #FFFFFF !important;">
      Goodies
    </a>
  </li>

  <li class="mobile-menu-list-item" style="margin-top: 10%;">
    <a class="mobile-menu-list-item-link mobile-menu-close" href="#" style="text-align: right; margin-right: 20%; color: #FFFFFF !important;">X</a>
  </li>
</ul>
