<div class="cart-feedbacks">
  <span class="cart-feedbacks-success">
    {{ product.title }} has been added to your cart!
  </span>
  <span class="cart-feedbacks-error">
    Oops :( There has been an error, please try to reload the page.
  </span>
</div>
