{% assign base_handle = product.handle | remove: '-man-tshirt' | remove: '-woman-tshirt' | remove: '-man-sweatshirt' | remove: '-woman-longsleeve' %}
{% assign current_handle = product.handle %}

{% assign print_with_clothing = false %}
{% if product.type == 'Art Print' %}
  {% unless product.tags contains 'landscape' or product.tags contains 'limited' or product.tags contains 'Iconic Toys' %}
    {% assign print_with_clothing = true %}
  {% endunless %}
{% endif %}

{% if print_with_clothing %}
  <div class="product-page-art-print-related-designs-container">
    <strong class="title">This design is also available as :</strong>

    <div class="row single-row">
      <div class="col s6 button-container-left">
        <a href="/products/{{ base_handle }}-man-tshirt" rel="next" class="product-drawer-summary-form-submit">Tee For Man</a>
      </div>
      <div class="col s6 button-container-right">
        <a href="/products/{{ base_handle }}-woman-tshirt" rel="next" class="product-drawer-summary-form-submit">Tee For Woman</a>
      </div>
    </div>
  </div>
{% endif %}
