<div class="row collection-header">
  <div class="col s12 m8 l8 collection-header-wrapper">
    <h1 class="collection-header-wrapper-title hide-on-small-only">
      All Collections
    </h1>
  </div>
</div>

{% include "mobile-collections-list" %}
