<div class="row policies">
  <div class="col s12">
    <h1 class="policies-page-title big-title">Refund Policy</h1>

    <h4>T-shirt by Print Aura</h4>

    <p>
      More information on <a href="https://printaura.com/returns-exchanges/" rel="help" target="_blank">Print Aura's return policy</a>
    </p>
  </div>
</div>
