<div class="row policies">
  <div class="col s12">
    <h1 class="policies-page-title big-title">about</h1>

    <p>
      I am Mike, a French creative graphic designer based in Tokyo Japan.
      <br>
      Well, something that could probably explain my vivid imagination and passion for pop culture is the fact that i grew up watching the X-Files, throwing Hadoken in Street Figher, reading horror movie magazines, building some unlikely Lego spaceships and other stuff that made my childhood so awesome.
      <br><br>
      If you wonder, Moshi kun is the little mascot I use as a logo for my design studio.
      <br><br>
      You can connect with me on social media.
      <br>
      <a target="_blank" href="https://www.facebook.com/MoshiStudio/" rel="author">Facebook</a> | <a target="_blank" href="https://www.instagram.com/mikewrobel/" rel="author">Instagram</a> | <a target="_blank" href="http://moshi-kun.tumblr.com/" rel="author">Tumblr</a> | <a target="_blank" href="https://twitter.com/mikewrob_el" rel="author">Twitter</a>
    </p>

    <br>

    <h4>Work</h4>

    <p>
      Moshi Studio is an independant design studio based in Tokyo and focused on creative concepts, strong designs, innovative and provocative ideas.
    </p>

    <br>

    <h4>Design Philosophy</h4>

    <p>
      To be honest, i am not really interested in obvious and common design, doing that will not really help you out.
      <br><br>
      My goal is to come up with something  unique, strong, and smart to make you and your business stand apart, attractive and visible.
      <br>
      But don't worry, it doesn't mean you'll end up with something funky or offbeat for the sake of being "creative".
      <br><br>
      Oscar Wilde said "An idea that is not dangerous is unworthy of being called an idea at all."
    </p>
  </div>
</div>
