<h1 class="faqs-page-title big-title">Frequently Asked Questions</h1>

<ul id="faqs-list" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      What is your return policy ?
    </div>
    <div class="collapsible-body">
      <p>
        You can not return or ex
        ange any merchandise directly to Mike Wrobel bought at Moshikun Shop by mail.
        <br>
        For t-shirts, please check <a style="color: #f50b8f;" href="https://printaura.com/returns-exchanges/" target="_blank" rel="help">Print Aura's return policy</a>.
        <br>
        For prints, please <a style="color: #f50b8f;" href="mailto:mike@moshistudio.com" target="_blank" rel="help">contact me</a>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      My orders has not been delivered yet. Where are my tracking informations  ?
    </div>
    <div class="collapsible-body">
      <p>
        Please check your emails for <strong>@moshistudio.com</strong> or <strong>@printaura.com</strong> for any email regarding your tracking information.
        If you did not find anything, please directly contact our vendors.
        <br>
        <a style="color: #f50b8f;" href="mailto:support@printaura.com ?subject=Reclamation+for+an+order+from+Moshikun+Shop" rel="nofollow">Reclamations for <strong>tshirts</strong></a>
        <br>
        <a style="color: #f50b8f;" href="mailto:mike@moshistudio.com" target="_blank" rel="help">Reclamations for <strong>prints</strong></a>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      Can I change my order ?
    </div>
    <div class="collapsible-body">
      <p>
        We start working on your order as soon as it is placed, so we are unable to make any changes or modifications to an order after it has been confirmed.
        However, for <a style="color: #f50b8f;" href="#signed-prints" class="modal-trigger" rel="help">signed edition prints</a>, please <a style="color: #f50b8f;" href="mailto:mike@moshistudio.com" rel="help">contact me</a> to get more information or check our signed edition prints fulfillment policy.
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      Do you ship internationally ?
    </div>
    <div class="collapsible-body">
      <p>
        Yes, we ship to over 100 countries! For a full listing of the countries, please visit our International Shipping pages for <a style="color: #f50b8f;" target="_blank" rel="help" href="https://printaura.com/turnaround-time">t-shirt delivery</a>. <br> For other planets, please refer to the delivery team of the Enterprise.
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      What payment methods do you accept ?
    </div>
    <div class="collapsible-body">
      <p>
        Moshikun Shop accepts :
      </p>
      <ul style="margin: 0px 0px 15px 26px;">
        <li>Paypal</li>
        <li>Master Card</li>
        <li>VISA</li>
        <li>American Express</li>
        <li>Hugs</li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      Do you take commissions ?
    </div>
    <div class="collapsible-body">
      <p>
        It happens, it depends on my schedule.
        <br>
        I will not design your Facebook profile picture though, and i don’t take any project under <strong style="color: #f50b8f;">$1000</strong>.
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      Do you sell somewhere else ?
    </div>
    <div class="collapsible-body">
      <p>
        No, I sell exclusively on my shop. If you happen to find some of my artworks on sale somewhere else, know that <strong>this is not legal</strong>. Probably cheaper, as tempting as it can be to purchase it, I strongly advise you against doing it. These sellers don’t have the proper HD files for the printing, they just grab the small resolution pictures on the Internet, so you will end up with something of <strong>poor quality</strong>.
      </p>
    </div>
  </li>
</ul>
